body {
    background: black;
    color: white;
    font-family: sans-serif;
}

.game {
    margin: 0 auto;
    display: table;
}

.buttons {
    text-align: center;
}

button {
    font-size: 120%;
    color: white;
    background: radial-gradient( #4e4e4e 0%, #0e0e0e 100% );
    cursor: pointer;
    border: none;
}

.board {
    border: 1px solid #555555;
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
}

.row {
    clear: both;
}

.cell {
    float: left;
    margin: 1px;
    cursor: pointer;
    border: 1px solid black;
}

@media all and (orientation:portrait) {
    .cell {
        width: 12vw;
        height: 12vw;
        border-radius: 12vw;
    }
}

@media all and (orientation:landscape) {
    .cell {
        width: 12vh;
        height: 12vh;
        border-radius: 12vh;
    }
}

.cell.on {
    background: radial-gradient( farthest-corner at 40px 40px, #9e9e9e 0%, #0e0e0e 100% );
}

.cell.on:hover {
    background: radial-gradient( farthest-corner at 40px 40px, #fefefe 0%, #0e0e0e 100% );
}

.cell.off {
    background: radial-gradient( farthest-corner at 40px 40px, #555555 0%, #000000 80% );
}

.cell.off:hover {
    background: radial-gradient( farthest-corner at 40px 40px, #888888 0%, #000000 80% );
}
