body {
    background: black;
    color: white;
    font-family: sans-serif;
}

.game {
    margin: 0 auto;
    display: table;
}

.buttons {
    text-align: center;
}

button {
    font-size: 120%;
    color: white;
    background: radial-gradient( #4e4e4e 0%, #0e0e0e 100% );
    cursor: pointer;
    border: none;
}

.board {
    border: 1px solid #555555;
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
}

.row {
    clear: both;
}

.cell {
    float: left;
    margin: 1px;
    cursor: pointer;
    border: 1px solid black;
}

@mixin cell-gradient( $size, $start, $end ) {
    background: radial-gradient( farthest-corner at ( $size / 3 ) ( $size / 3 ), $start, $end );
}

@mixin cell( $size ) {

    .cell {
        width: $size;
        height: $size;
        border-radius: $size;
    }

    .cell.on {
        @include cell-gradient( $size, #9e9e9f 0%, #0e0e0f 100% );
    }

    .cell.on:hover {
        @include cell-gradient( $size, #fefeff 0%, #0e0e0f 100% );
    }

    .cell.off {
        @include cell-gradient( $size, #555555 0%, #000000 80% );
    }

    .cell.off:hover {
        @include cell-gradient( $size, #888888 0%, #000000 80% );
    }

    .cell.no-click:hover {
        @include cell-gradient( $size, #9e9e9f 0%, #0e0e0f 100% );
    }
}

@media all and (orientation:portrait) {
    @include cell( 12vw );
}

@media all and (orientation:landscape) {
    @include cell( 12vh );
}

.cell.no-click {
    cursor: not-allowed;
}
